


.game-box{
    border:px solid black;
    width:50%;
    height:50%;
}

.box{
    border: 1px solid black;
    height: 50px;
    width:50px;
    box-sizing: border-box;
    padding: 15px;
    font-size: 20px;
}

.row{
    display: flex;
}

.winner-output , .score-card{
    width:30%;
    display: flex;
    justify-content: space-evenly;
}

.reset-button , .restart-button{
    border: 1px solif black;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color:slategray

}